.battle-screen {
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}
.battle-screen.disabled {
  cursor: wait;
}
.battle-screen .encounter {
  position: relative;
  flex-direction: column;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.battle-screen .encounter .chest {
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  width: 64px;
}
.battle-screen .encounter .monsters {
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
.battle-screen .encounter .monsters .monster-area {
  display: flex;
  flex-direction: column;
}

.battle-screen .encounter .hit-image {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  height: 400px;
}
