.battle-screen {
  height: 100%;
}
.battle-screen .encounter {
  flex-direction: column;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.battle-screen .encounter .monsters {
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
.battle-screen .encounter .monsters .monster-area {
  display: flex;
  flex-direction: column;
}

.battle-screen .encounter .monsters .monster-area .hit-image {
  width: 128px;
  height: 128px;
}
